.signininpput{
    width:400px;
    
    margin:30px 20px;
    height:40px;
    border-radius: 20px;
}

.signbut{
    background-color:blue;color:white;height:40px;width:120px; margin:30px 200px;
    border: none;
    border-radius: 10px;
}

.signinlayout{
    margin:50px 400px;
    width:500px; 
    border:1px solid;
    border-radius: 20px;
}