
.box1{
   
     height: auto;
     width: 300px;
     border: 1px solid silver;
     border-radius: 15px;
 
 }
 .cost{
    color: #7263F2;
 }
 .name{
    color: #414050;
    font-size: medium;
    margin-top: -5px;
 }
 .address{
    color: #A8A7AB;
    font-size: medium;
 }
 
 .box2{
     padding: 30px;
 }

 .bookn{
   margin: 30px 0 0 60px;
   height: 40px;
   width: 100px;
   background-color:#7263F2;
   color: white;
   border: none;
   border-radius: 10px;
 }
 .price1{
    display: flex;
   
    margin-top: -20px;
    justify-content: space-between;
 }
 

 .heart{
    font-size: 35px;
    color:rgb(182, 173, 173);
    margin-top: 7px;
     width: 70px;
     outline: none;
     text-transform: uppercase;
     cursor: pointer;
     font-weight: bold;
 }
    
    .heart_active {
        font-size: 35px;
        color:green;
        margin-top: 7px;
         width: 70px;
         outline: none;
         text-transform: uppercase;
         cursor: pointer;
         font-weight: bold;
    }
 
    .bed{
        display: flex;
margin-left: -40px;
    }
    .bed1{
        height:25px;
        width: 25px;
    }
    .bed2{
        display: flex;
        margin-left: 10px;
    }
    .nobeds{
        display: block;
        margin: 10px 0 0 10px;
    }